<?xml version="1.0"?>

<model>
  <name>Line Sensor</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lucas Haug</name>
    <email>lucas.haug@thunderatz.org</email>
    <name>Felipe Bagni</name>
    <email>felipe.bagni@thunderatz.org</email>
  </author>

  <description>
    A model of line sensor.
  </description>
</model>
